<div class="developer">
<h1>About the Developer</h1>

<img src="https://pokemon-bucket-breakable-toy.s3.us-east-2.amazonaws.com/IMG_0814.JPG" 
  alt="Rupe"
  width="400"
  height="300"
/>

<h3>
Thank you for visiting my webpage!
</h3>

<p>
My name is Rupert, and I am a apprentice full stack developer living in Boston, Massachusetts.
</p>

<p>
I graduated from Launch Academy in the Fall of 2021, where I recieved formal instruction on web development 
using Ruby on Rails, React JS, Postgres, GitHub and other tools.
</p>

<p>
This site is my "Breakable Toy", which is a capstone project for Launch Academy. The intention of this project
was to build a web application that uses a Ruby on Rails backend, with a React JS front end. Other technologies
include Nokogiri for web scraping, React Google Charts for data visualization and Heroku for deployment.

My Breakable Toy allows users to create an account and save Pokemon to that account.
Once saved, they will appear on an index page for quick access to their show pages, containing
stats, types and abilities unique to that Pokemon, from the PokeApi V2. Users are also able to comment
and start disscussions with other users on a Pokemon's page by entering their thoughts into a 
discussion form.
</p>
</div>