/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

 body {
  background-image: url("https://pokemon-bucket-breakable-toy.s3.us-east-2.amazonaws.com/51718113549_87a6005237_o.png");
  background-size: 1000px;
}

h2 {
  font-family: 'VT323', monospace;
  text-align: center;
}

.sign-in-container {
  text-align: center;
}

.field {
  width: 550px;
  margin: auto;
}

.usage-tile {
  border-style: double;
  width: 350px;
  margin: auto;
}

.top-bar {
  text-align: center;
}

.pokemon-container {
  margin-top: 220px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pokemon-show-container {
  font-family: 'VT323', monospace;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-evenly;
}

.usage-container {
  display: flex;
}

.home-container {
  text-align: center;
}

.rupe {
  margin-top: 190px;
}

.logo {
  margin-top: 40px;
}

.pokemon-info {
  text-align: center;
}

.pokemon-name {
  text-align: center;
  font-family: 'VT323', monospace;
}

.stat-chart {
  text-align: center;
}

.review-container {
  border-style: groove;
}

.review-tile {
  border-top: groove;
}

.form {
  text-align: center;
  width: 500px;
}

.review-form {
  border-top: groove;
  text-align: center;
}

h3 {
  font-family: 'VT323', monospace;
}

.center {
  text-align: center;
}

.sign-in {
  margin-top: 40px;
  text-align: center;
}

.sign-in-text {
  font-family: 'VT323', monospace;
}

.form-container {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.menu-button {
  background-color: #c5ced1; /* Green */
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

